<p id="notice"><%= notice %></p>

<h1>Listing Pins</h1>

    <% @pins.each do |pin| %>
      <tr>
        <td><%= pin.description %></td>
        <td><%= link_to 'Mostrar', pin %></td>
        <% if pin.user == current_user %>
        <td><%= link_to 'Editar', edit_pin_path(pin) %></td>
        <td><%= link_to 'Deletar', pin, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      <% end %>
      </tr>
    <% end %>

<br>

<%= link_to 'NovoPin', new_pin_path %>
