<p id="notice"><%= notice %></p>

<h1>Lista de Pins</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<tbody></tbody>
    <% @pins.each do |pin| %>
      <tr>
        <tr><%= image_tag pin.image.url(:medium) %></tr>
        <td><%= pin.description %></td>
        <td><%= link_to 'Mostrar', pin %></td>
        <td><%= link_to 'Editar', edit_pin_path(pin) %></td>
        <td><%= link_to 'Deletar', pin, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
</tbody>
</table>
<br/>

<%= link_to 'Novo Pin', new_pin_path %>
